<main>
  <div class="options-container">
    <h1>Opciones</h1>
    <button class="btn btn-primary option" (click)="registerUser()">
      Registrar usuario
    </button>
    <button class="btn btn-primary option" (click)="renewUser()">
      Renovar usuario
    </button>
    <button class="btn btn-primary option" (click)="resetUser()">
      Resetear key
    </button>
    <button class="btn btn-primary option">Banear usuario</button>
    <button class="btn btn-primary option">Base de datos</button>
  </div>
</main>
